<script id="meal_edit" type="text/x-handlebars-template">
	<div id="backdrop">
		<div id="to_edit_meal" class="{{cid}}">
			<div id="meal_heading_edit">		
				<img src="{{data.img_url}}">
				<div id="meal_heading_info_edit">
					<h2>{{data.meal_item_name}}</h2>
					<h3>{{#formatTime}}{{data.flkr_dates.taken}}{{/formatTime}}</h3>
					<h3 id="meal">{{data.meal}}</h3>
				</div>
			</div>
			<div id="location_container">
				<div>from{{data.from_loc}}</div>
				<div>eaten</div>
			</div>
			<div id="nutrition_facts">
				<h3>Nutrition Facts</h3>
				<h5>Serving size</h5>
				<table>
					<tr>
						<td class="nutrient primary">Total Fat</td>
						<td class="amount">{{data.total_fat}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient secondary">Saturated Fat</td>
						<td class="amount">{{data.saturated_fat}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient secondary">Trans Fat</td>
						<td class="amount">{{data.trans_fat}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient primary">Cholesterol</td>
						<td class="amount">{{data.cholesterol}}mg</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient primary">Sodium</td>
						<td class="amount">{{data.sodium}}mg</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient primary">Total Carbohydrate</td>
						<td class="amount">{{data.total_carbs}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient secondary">Dietary Fiber</td>
						<td class="amount">{{data.dietary_fiber}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient secondary">Sugars</td>
						<td class="amount">{{data.sugar}}g</td>
						<td class="percent"></td>
					</tr>
					<tr>
						<td class="nutrient primary">Protein</td>
						<td class="amount">{{data.protein}}g</td>
						<td class="percent"></td>
					</tr>
				</table>
			</div>
			<div id="ingredients">
				<div id="add_ingredients">
					<input type=text name="add-ingredients"/>
					<button id="search_submit">search</button>
					<select></select>
					<button id="add_ingredient">add</button>
				</div>
				{{#each data.ingredients}}
					<div></div>
				{{/each}}
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</script>