<script id="meal_edit" type="text/x-handlebars-template">
	<div id="backdrop">
		<div id="to_edit_meal" class="{{cid}}">
			<div id="meal_heading_edit">		
				<img src="{{data.img_url}}">
				<div id="meal_heading_info_edit">
					<h2>{{data.meal_item_name}}</h2>
					<h3>{{#formatTime}}{{data.flkr_dates.taken}}{{/formatTime}}</h3>
					<h3 id="meal">{{data.meal}}</h3>
				</div>
			</div>
			<div id="nutrition_facts">
			</div>
			<div id="ingredients">
				<div id="add_ingredients">
					<input type=text name="add-ingredients"/>
					<button id="search_submit">search</button>
					<select></select>
					<button id="add_ingredient">add</button>
				</div>
				<div id="ingredients_list">
					<h4>Ingredients</h4>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</script>