<script id="temp_csd" type="x-handlebars-template">
<div id="trait_specific_info_container">
	<h2>Cardiovascular Health</h2>
	
	<h3>Overview</h3>
	<div id="overview_container">
		<p>
		Cardiovascular disease refers to any disease that affects the cardiovascular system, principally cardiac disease, vascular diseases of the brain and kidney, and peripheral arterial disease. The causes of cardiovascular disease are diverse but atherosclerosis and/or hypertension are the most common. Additionally, with aging come a number of physiological and morphological changes that alter cardiovascular function and lead to subsequently increased risk of cardiovascular disease, even in healthy asymptomatic individuals.
	</p>
	<p>
		Cardiovascular disease is the leading cause of deaths worldwide, though since the 1970s, cardiovascular mortality rates have declined in many high-income countries.[4] At the same time, cardiovascular deaths and disease have increased at a fast rate in low- and middle-income countries. Although cardiovascular disease usually affects older adults, the antecedents of cardiovascular disease, notably atherosclerosis, begin in early life, making primary prevention efforts necessary from childhood.[6] There is therefore increased emphasis on preventing atherosclerosis by modifying risk factors, such as healthy eating, exercise, and avoidance of smoking.
	</p>
	</div>

	<h3>Recommended Habits</h3>
	<div id="recommended_habits_container">
		{{#each rec_habits }}
			<div class="study-container">
				<h4 id={{rec_habit_key}}>{{ rec_habit }}</h4>
			</div>
		{{/each}}
	</div>	

	<h3>Stats</h3>
	<div id="cardio_stats_container">
		<p id="me_stat" class="cardio-stat"></p>
		<p id="other_disease" class="cardio-stat">People with cardiovascular disease are 30% more likely to develop another chronic disease</p>
		<p id="cost" class="cardio-stat">Treatment of cardiovascular disease cost Medicare 108 billion dollars in 2012</p>
	</div>
	
	<h3>Studies and Articles</h3>
	<div id="cardio_studies_container">
		{{#each studies}}
			<div class="study-container">
				<img class="study-img" src="/static/img/document.png" />
				<h4><a href="{{this.study_link}}" target="_blank"> {{ this.study_title}}</a></h4>
				{{#each this.study_authors}}
					<h5> {{ this }}</h5>
				{{/each}}
			</div>
		{{/each}}
	</div>
</div>
</script>